.
cltl.backend[impl,local,host,service]
cltl.asr[impl,whisper,whispercpp,whisperapi,service]
cltl.vad[impl,service]
cltl.emissor-data[impl,service,client]
cltl.eliza

spot.dialogmanagement[service]
spot.disambiguation

flask
werkzeug

# playsound
pyobjc==9.2