.bubble {
    pointer-events: none;
}

#chat {
    display: inline-block;
    width: 50%;
    max-width: 50%;
}

.phrases {
    display: inline-block;
    width: 20%;
    padding: 25px;
    vertical-align: top;
}

#participantid {
    margin-bottom: 20px;
    display: inline-block;
}

#participantid  label, #participantid  input {
    display: inline-block;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#participantid input {
    width: 50px;
}

button.phrase {
    width: 100%;
    margin: 5px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}