#turn_button {
    position: absolute;
    top: 25px;
    right: 25px;
    text-align:center;
    padding: 0px;
    background: transparent;
}

#turn_button > img {
    width: 50px;
    height: 50px;
    content: url(../images/objects/record.svg);
    background: rgba(255,255,255,0.8);
    vertical-align:middle;
    padding: 5px;
}

#turn_button:disabled > img {
    filter: grayscale(100);
    background: rgba(255,255,255,0.1);
    padding: 5px;
}