#turn_button {
    position: absolute;
    top: 0px;
    right: 0px;
    text-align:center;
    font-size: x-large;
    width: 150px;
    height: 120px;
}

#turn_button:disabled {
    background: url(../images/objects/stop.svg);
    background-repeat: no-repeat;
    background-size: 100px;
    background-position: center;
    background-color: rgba(255, 255, 255, 0.6);
    background-blend-mode: difference;
}

#turn_button > img {
    width: 50px;
    height: 50px;
    content: url(../images/objects/stop.svg);
    background: rgba(255,255,255,0.8);
    vertical-align:middle;
    padding: 5px;
}

#turn_button:disabled > img {
    filter: grayscale(100);
    background: rgba(255,255,255,0.1);
    padding: 5px;
}
q