[loggers]
keys: root

[handlers]
keys: console, file

[formatters]
keys: pepperFormatter

[logger_root]
level: DEBUG
handlers: console, file

[handler_console]
class: StreamHandler
level: NOTSET
formatter: pepperFormatter
args: (sys.stdout,)

[handler_file]
class: FileHandler
level: NOTSET
formatter: pepperFormatter
args: ('storage/leolani.log', 'a')

[formatter_pepperFormatter]
format: %(asctime)s %(levelname)-8s %(name)-60s %(message)s
datefmt: %x %X



